@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blueButtons {
  margin-top: 10%;
    width: 25%;
    height: 60px;
    font-size: 1em;
    padding: 10px;
    background-color: #236192;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.orangeBrand {
  font-size: 1em;
  margin-bottom: 3px;
  padding: 4%;
  background-color: #FF9E1B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.title {
  font-family: 'Lora', Georgia, "Times New Roman", serif;
}

body {
  color: #000000;
  background: #faf9f6
}

p {
  font-family: 'Inter',Georgia,"Times New Roman",serif;
  font-size: 20px;
  line-height: 30px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}