@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components.css';
@import '../../node_modules/tailwindcss/utilities.css'; */

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
/*relative m-5 bg-inherit text-black px-6 pt-5 pb-8 ring-0 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10 */
@layer components {
  .pageDiv {
    @apply block-group block-padding content-center;
  }
  .testDiv {
    @apply bg-inherit justify-center text-black text-center pt-10 pb-8 max-w-fit m-auto mt-4;
  }
  .titleH1 {
    @apply text-6xl mt-5 flex justify-center title text-wrap text-center;
  }
  .blueButton {
    @apply  text-center blueB text-base leading-7 text-white text-wrap rounded-md w-32 h-16 disabled:bg-slate-500;
  }
  .paragraph{
    @apply py-1 text-lg leading-7 text-black;
  }
  .orangeBut{
    @apply orangeBrand mt-0.5 mx-20 font-bold p-5 rounded-md text-white border-none cursor-pointer w-24 h-16
  }
  .resultsP{
    @apply pr-2 font-bold text-[#81a058] underline
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blueB{
  background-color: #236192;
}
.textB {
  color: #236192;
}

.blueBut {
  margin-top: 10%;
  width: 25%;
  height: 60px;
  font-size: 1em;
  padding: 10px;
  background-color: #236192;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  align-content:center;
  line-height: normal;
}

.blueBut:hover, .blueB:hover {
  background-color: #94ABC7;
  color: white;
}


.orangeBrand {
  font-size: 1em;
  margin-bottom: 3px;
  padding: 4%;
  background-color: #FF9E1B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  font-family: 'Lora', Georgia, "Times New Roman", serif;
}

.block-group{
  box-sizing: border-box;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.block-padding{
  padding-right: clamp(1.5rem, 5vw, 2rem);
  padding-left: clamp(1.5rem, 5vw, 2rem);
}

.gap{
  padding-top: clamp(1.8rem, 1.8rem + ((1vw - 0.48rem) * 2.885), 3rem);
  padding-bottom: clamp(1.8rem, 1.8rem + ((1vw - 0.48rem) * 2.885), 3rem);
}

body {
  color: #000000;
  background: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

h1 {
  margin-bottom: clamp(1.8rem, 1.8rem + ((1vw - 0.48rem) * 2.885), 3rem);
}

p {
  font-family: Ariel;
  font-size: 20px;
  line-height: 30px;
}

h2{
  font-family: 'Inter',Georgia,"Times New Roman",serif;
  font-size: 20px;
  line-height: 1.2;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}